<h1 class="page-title-text">みんなの投稿</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ユーザー</th>
        <th scope="col">アクション</th>
        <th scope="col">ステータス</th>
        <th scope="col">カテゴリー</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.user.name %></td>
          <td><%= record.content %></td>
          <td><%= record.bug_status %></td>
          <td><%= record.goal.kind.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-link"><%= link_to "アクションを投稿する", new_record_path %></button>
  </div>
</div>