<h1 class="page-title-text">みんなの投稿</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ユーザー</th>
        <th scope="col">アクション</th>
        <th scope="col">ステータス</th>
        <th scope="col">カテゴリー</th>
        <th scope="col">ナイス</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <% if record.user.id == current_user.id %>
            <td>
              <p><%= record.user.name %></p>
            </td>
          <% else %>
            <td>
              <%= link_to mypage_path(record.user.id) do %>
                <p><%= record.user.name %></p>
              <% end %>
            </td>
          <% end %>
          <td><%= record.content %></td>
          <td><%= record.bug_status %></td>
          <td><%= record.goal.kind.name %></td>
          <td><%= record.reactions.count %></td>
          <% if record.user_id == current_user.id %>
            <td></td>
          <% else %>
            <% if Reaction.where(user_id: current_user.id, record_id: record.id).exists? %>
              <td>
                <%= link_to record_reaction_path(id: current_user.reactions.find_by(record_id: record.id).id, record_id: record.id), method: :delete  do%>
                  <i class="fa-solid fa-hand-back-fist"></i>
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to record_reactions_path(record), method: :post do%>
                  <i class="fa-regular fa-hand-back-fist"></i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-link"><%= link_to "アクションを投稿する", new_record_path %></button>
  </div>
</div>