<h1 class="page-title-text"><%= @goal.title %></h1>
<div class="container">
	<div class="goal-information" id="<%= @goal.status %>">
		<div class="goal-information-table">
			<h3><%= @goal.status %></h3>
			<% if @goal.user.id == current_user.id %>
				<%= render 'show' %>
			<% end %>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">アクション</th>
						<th scope="col">ステータス</th>
						<th scope="col">更新日</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% Record.where(goal_id: @goal.id).each do |record| %>
						<tr>
							<td><%= record.content %></td>
							<td><%= record.bug_status %></td>
							<td><%= record.created_at.month %>/<%= record.created_at.day %></td>
							<td><%= link_to '削除', record_path(record), class: "btn btn-danger text-light", method: :delete %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to 'アクションを追加する', new_record_path %>
		</div>
		<div class="goal-information-chart">
			<%= line_chart Record.where(goal_id: @goal.id).group(:bug_status).group_by_week(:created_at).count,
					colors: ["#6b8e23", "#f4a460"],
					legend: false,
					min: 0,
					max: 10 %>
		</div>
		<div>
			<%= link_to 'マイページへ戻る', mypage_path(id: @goal.user.id) %>
		</div>
	</div>
</div>
