<div class="card card-primary">
	<div class="card-body">
		<h3 class="text-center">ID：<%= @goal.id %></h3>
		<h3 class="text-center">タイトル：<%= @goal.title %></h3>
		<h3 class="text-center">ステータス：<%= @goal.status %></h3>
		<h3 class="text-center">カテゴリー：<%= @goal.kind.name %></h3>
		<h3 class="text-center">ユーザー：<%= @goal.user.name %></h3>
	</div>
</div>